* {
  margin: 0;
  padding: 0;
}

.all {
  width: 100%;
  background-color: #ececec;
  height: 1200px;
}

.all .nav {
  width: 100%;
  padding: 0 100px;
  background-color: #ffffff;
}

.all .nav .header {
  width: 1200px;
  background-color: #ffffff;
  height: 60px;
}

.all .nav .header .col-sm-4 {
  padding: 10px 50px;
}

.all .nav .header .col-sm-4 .blue {
  color: #2596da;
  font-size: 30px;
  margin-right: 5px;
}

.all .nav .header .col-sm-4 .text {
  color: #949494;
  font-size: 30px;
}

.all .nav .header .col-sm-6 {
  padding: 15px 25px;
}

.all .nav .header .col-sm-6 a {
  margin: 0 25px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #c0c0c0;
}

.all .nav .header .col-sm-6 button {
  width: 110px;
  height: 30px;
  border: none;
  background-color: #40b3f6;
  border-radius: 7%;
  color: #ffffff;
  text-align: center;
}

.all .main {
  width: 100%;
  height: 530px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.all .main .main-title {
  width: 950px;
  height: 300px;
  text-align: center;
  padding: 50px;
}

.all .main .main-title .span-title {
  color: #fefff8;
  font-size: 50px;
  font-weight: bold;
}

.all .main .main-title p {
  color: #fefff8;
  font-size: 45px;
}

.all .main .main-title button {
  width: 270px;
  height: 60px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#45b932), to(#5cc648));
  background-image: linear-gradient(to right, #45b932, #5cc648);
  border-radius: 5px;
  font-size: 30px;
  color: #fefff8;
  font-weight: bold;
  padding: 8px;
  margin-top: 20px;
}

.all .cards {
  width: 660px;
  height: 260px;
  background-color: #ffffff;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px #52c137;
          box-shadow: 0 8px #52c137;
  padding: 10px 20px;
}

.all .cards h4 {
  color: #999999;
  text-align: center;
}

.all .cards .card {
  width: 80px !important;
  height: 48px !important;
}

.all .cards .card img {
  width: 65px;
  height: 40px;
}

.all .cards .card-body {
  padding: 0 0 10px 0;
  font-size: 18px;
}

.all .awesome {
  width: 785px;
  height: 32s0px;
  padding: 30px 50px;
  margin-top: 200px;
  text-align: center;
  background-color: #ececec;
}

.all .awesome p {
  color: #828282;
  font-size: 25px;
  margin: 0;
}

.all .awesome .first-row {
  margin-top: 0;
}

.all .awesome .item {
  background-color: #ffffff;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  margin: 25px;
  text-align: center;
  padding: 15px 10px 10px 10px;
}

.all .awesome .item i {
  font-size: 75px;
  color: #569be8;
}

.all .awesome .item .world {
  font-size: 95px;
}

.all .awesome .foo {
  margin: 0;
  padding: 0;
}

.all .awesome .foo p {
  margin: 0;
  font-size: 22px;
}

.all .last {
  width: 100%;
  height: 30px;
  background-color: #414141;
  margin-top: 25px;
  text-align: center;
  padding: 3px;
}

.all .last p {
  font-size: 13px;
  color: #ffffff;
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */